* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

.App {
  display: flex;
  width: 100vw;
}

.list {
  border: 1px solid blue;
  min-width: 15vw;
  padding: 10vh 2vw 0;
  height: 100vh;
}

.addList {
  flex: 1;
  border: yellow solid 3px;
  text-align: center;
  padding-top: 30vh;
}

.title {
  padding-bottom: 5vh;
}

input {
  margin-bottom: 2vh;
  height: 5vh;
  width: 25vw;
}

.listNames {
  display: flex;
  justify-content: space-between;
}

h3 {
  text-align: center;
  margin-bottom: 2vh;
}


